[workspace]
members = ["replay", "tools", "profiler-sdk", "state-reader"]


# Explicitly set the resolver to the default for edition >= 2021
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html
resolver = "2"

[workspace.dependencies]
starknet-types-core = "0.2.0"
tracing = "0.1"
serde_json = "1.0.135"
serde_with = "3.12.0"
serde = "1.0.219"
fs2 = "0.4.3"
cairo-native = { git = "https://github.com/lambdaclass/cairo_native", rev = "b425c68d231fcdeaf02323c53e8215b3c33c4232" }
cairo-vm = "3.0.0"
anyhow = "1.0"

# Cairo Dependencies
cairo-lang-filesystem = "~2.15.0"
cairo-lang-starknet-classes = "~2.15.0"
cairo-lang-starknet = "~2.15.0"
cairo-lang-compiler = "~2.15.0"
cairo-lang-sierra = "~2.15.0"

# Sequencer Dependencies
starknet_api = { git = "https://github.com/lambdaclass/sequencer.git", rev = "487b6c38ee5109fb0bea318ae7825942c8a387df" } # main-v0.14.1
blockifier = { git = "https://github.com/lambdaclass/sequencer.git", rev = "487b6c38ee5109fb0bea318ae7825942c8a387df", features = [ "cairo_native", ] } # main-v0.14.1
apollo_gateway = { git = "https://github.com/lambdaclass/sequencer.git", rev = "487b6c38ee5109fb0bea318ae7825942c8a387df" } # main-v0.14.1
blockifier_reexecution = { git = "https://github.com/lambdaclass/sequencer.git", rev = "487b6c38ee5109fb0bea318ae7825942c8a387df" } # main-v0.14.1
