[workspace]
members = ["replay", "tools", "profiler-sdk", "state-reader"]


# Explicitly set the resolver to the default for edition >= 2021
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html
resolver = "2"

[workspace.dependencies]
starknet-types-core = "0.2.0"
tracing = "0.1"
serde_json = "1.0.135"
serde_with = "3.12.0"
serde = "1.0.219"
fs2 = "0.4.3"
cairo-native = { git = "https://github.com/lambdaclass/cairo_native", rev = "53371a953b8db9c8bc020e141591853a666cdcf3" }
cairo-vm = "2.5.0"
anyhow = "1.0"

# Cairo Dependencies
cairo-lang-filesystem = "~2.14.0"
cairo-lang-starknet-classes = "~2.14.0"
cairo-lang-starknet = "~2.14.0"
cairo-lang-compiler = "~2.14.0"
cairo-lang-sierra = "~2.14.0"

# Sequencer Dependencies
starknet_api = { git = "https://github.com/lambdaclass/sequencer.git", rev = "d0191f8579cd4165380c0c0d8124435f348af915" } # main-v0.14.1
blockifier = { git = "https://github.com/lambdaclass/sequencer.git", rev = "d0191f8579cd4165380c0c0d8124435f348af915", features = [ "cairo_native", ] } # main-v0.14.1
apollo_gateway = { git = "https://github.com/lambdaclass/sequencer.git", rev = "d0191f8579cd4165380c0c0d8124435f348af915" } # main-v0.14.1
blockifier_reexecution = { git = "https://github.com/lambdaclass/sequencer.git", rev = "d0191f8579cd4165380c0c0d8124435f348af915" } # main-v0.14.1
