[workspace]
members = ["rpc-state-reader", "replay"]


# Explicitly set the resolver to the default for edition >= 2021
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html
resolver = "2"

[workspace.dependencies]
starknet-types-core = "0.1.6"
tracing = "0.1"
serde_json = "1.0.116"
serde_with = "3.11.0"
serde = "1.0.197"
cairo-native = { git = "https://github.com/lambdaclass/cairo_native", rev = "63dda0ec1e7b593a53a120a92df1412c125151fa" }
# Sequencer Dependencies
starknet_api = { git = "https://github.com/lambdaclass/sequencer", branch = "update_gas_u64" }
blockifier = { git = "https://github.com/lambdaclass/sequencer", branch = "update_gas_u64" }
starknet_gateway = { git = "https://github.com/lambdaclass/sequencer", branch = "update_gas_u64" }

[patch.'https://github.com/lambdaclass/cairo_native']
cairo-native = { git = "https://github.com/lambdaclass//cairo_native.git", rev = "63dda0ec1e7b593a53a120a92df1412c125151fa" }
