[workspace]
members = ["rpc-state-reader", "replay", "tools", "profiler-sdk", "state-reader"]


# Explicitly set the resolver to the default for edition >= 2021
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html
resolver = "2"

[workspace.dependencies]
starknet-types-core = "0.2.0"
tracing = "0.1"
serde_json = "1.0.135"
serde_with = "3.12.0"
serde = "1.0.217"
fs2 = "0.4.3"
cairo-native = { path = "../cairo_native" }
cairo-vm = { path = "../cairo-vm/vm" }
anyhow = "1.0"

# Cairo Dependencies
cairo-lang-starknet-classes = { path = "../cairo/crates/cairo-lang-starknet-classes" }
cairo-lang-starknet = { path = "../cairo/crates/cairo-lang-starknet" }
cairo-lang-compiler = { path = "../cairo/crates/cairo-lang-compiler" }
cairo-lang-sierra = { path = "../cairo/crates/cairo-lang-sierra" }

# Sequencer Dependencies
starknet_api = { path = "../sequencer/crates/starknet_api" } # main-v0.14.0
blockifier = { path = "../sequencer/crates/blockifier", features = [
  "cairo_native",
] } # main-v0.14.0
apollo_gateway = { path = "../sequencer/crates/apollo_gateway" } # main-v0.14.0
blockifier_reexecution = { path = "../sequencer/crates/blockifier_reexecution" } # main-v0.14.0
